.client_box{
    background-color: #F8F8F9;
    height: 100%;
    /* box-sizing: border-box; */
}
.client_box .header {
    position: fixed;
    width: 100%;
    display: flex;
    height: .93rem;
    z-index: 99;
}

.client_box .header .header_logo {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: #285EE9;
}

.client_box .header .header_logo img {
    width: 1.25rem;
    height: .35rem;
}
.client_box .header .header_user{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: .24rem;
    background-color: #ffffff;
    box-shadow:.0px 4px 10px rgba(207,207,208,1);
}
.client_box .header .header_user img{
    width: .47rem;
    height: .47rem;
}
.aside{
    width: 100%;
    height: calc(100% - 1.06rem);
    padding-top: .93rem;
    display: flex;
}
.aside .mian{
    padding-left: 15%;
    overflow: auto;
    flex: 1;
}
.aside .aside_list{
    position: fixed;
    width: 15%;
    height: 100%;
    background: #ffffff;
    margin-top: .13rem;

}
.aside .aside_list ul li{
    display: flex;
    height: .67rem;
    font-size: .21rem;
    height: .66rem;
    line-height: .66rem;
    padding: 0 .7rem;
}
.current{
    border-left: .05rem solid #285EE9;
    padding: 0 .65rem !important;
    background:linear-gradient(270deg,rgba(222,231,255,0.65) 0%,rgba(214,225,255,1) 100%);
}
.aside .aside_list ul li p{
    margin-left: .3rem;
    color: #0D1D48;
}
.aside .aside_list ul li .list_img{
    width: .19rem;
    height: .19rem;
}
.aside .aside_list ul li .list_img img{
    width: 100%;
    height: 100%;
}