<<<<<<< HEAD
.client_box{
=======
.client_box {
>>>>>>> 9-25 update
    background-color: #F8F8F9;
    height: 100%;
    /* box-sizing: border-box; */
}
<<<<<<< HEAD
=======

>>>>>>> 9-25 update
.client_box .header {
    position: fixed;
    width: 100%;
    display: flex;
<<<<<<< HEAD
    height: .93rem;
=======
    height: .83rem;
>>>>>>> 9-25 update
    /* z-index: 99; */
}

.client_box .header .header_logo {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: #285EE9;
}

.client_box .header .header_logo img {
    width: 1.25rem;
    height: .35rem;
}
<<<<<<< HEAD
.client_box .header .header_user{
=======

.client_box .header .header_user {
>>>>>>> 9-25 update
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: .24rem;
    background-color: #ffffff;
<<<<<<< HEAD
    box-shadow:.0px 4px 10px rgba(207,207,208,1);
}
.client_box .header .header_user img{
    width: .47rem;
    height: .47rem;
}
.aside{
    width: 100%;
    height: calc(100% - 1.06rem);
    padding-top: .93rem;
    display: flex;
}
.aside .mian{
    overflow: auto;
    flex: 1;
}
.aside .aside_list{
=======
    box-shadow: .0px 4px 10px rgba(207, 207, 208, 1);
    cursor: pointer;
}

.client_box .header .header_user img {
    width: .47rem;
    height: .47rem;
}

.aside {
    width: 100%;
    height: calc(100% - 1.06rem);
    padding-top: .83rem;
    display: flex;
}

.aside .mian {
    overflow: auto;
    flex: 1;
}

.aside .aside_list {
>>>>>>> 9-25 update
    position: relative;
    width: 15%;
    height: 100%;
    background: #ffffff;
    margin-top: .13rem;
<<<<<<< HEAD

}
.aside .aside_list .aside_ul li{
=======
}

.aside .aside_list .aside_ul li {
>>>>>>> 9-25 update
    display: flex;
    height: .67rem;
    font-size: .21rem;
    height: .66rem;
    line-height: .66rem;
    padding: 0 .7rem;
}
<<<<<<< HEAD
.current{
    border-left: .05rem solid #285EE9;
    padding: 0 .65rem !important;
    background:linear-gradient(270deg,rgba(222,231,255,0.65) 0%,rgba(214,225,255,1) 100%);
}
.aside .aside_list .aside_ul li p{
    margin-left: .3rem;
    color: #0D1D48;
}
.aside .aside_list .aside_ul li .list_img{
    width: .19rem;
    height: .19rem;
}
.aside .aside_list .aside_ul li .list_img img{
=======

.current {
    border-left: .05rem solid #285EE9;
    padding: 0 .65rem !important;
    background: linear-gradient(270deg, rgba(222, 231, 255, 0.65) 0%, rgba(214, 225, 255, 1) 100%);
}

.aside .aside_list .aside_ul li p {
    margin-left: .3rem;
    color: #0D1D48;
}

.aside .aside_list .aside_ul li .list_img {
    width: .19rem;
    height: .19rem;
}

.aside .aside_list .aside_ul li .list_img img {
>>>>>>> 9-25 update
    width: 100%;
    height: 100%;
}