.qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrcode img {
    width: 0.5rem;
    height: 0.5rem;
}

.qrcode div {
    position: relative;
    line-height: normal;
    cursor: pointer;
}

.qrcode .code_box, .qrcode .ios_code {
    position: absolute;
    top: 0.65rem;
    left: -0.3rem;
    border: 1px solid #285EE9;
    background: #ffffff;
    border-radius: 5px;
    display: none;
    z-index: 999
}

.qrcode img:nth-of-type(1) {
    margin-right: 0.1rem;
}

.qrcode img:nth-of-type(2) {
    margin-left: 0.1rem;
}

.qrcode .tool-tip p {
    width: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.12rem;
    color: #ffffff !important;
    background: #285EE9;
    padding-left: 0.05rem;
    line-height: normal;
}

.qrcode canvas {
    width: 0.95rem !important;
    height: 0.95rem !important;
    margin: 0.06rem 0.05rem 0rem;
}

.qrcode .code_box::before, .qrcode .ios_code::before {
    content: "";
    position: absolute;
    top: -7.2%;
    left: 45%;
    width: 0.14rem;
    height: 0.14rem;
    background: #fff;
    border-top: 1px solid #285EE9;
    border-left: 1px solid #285EE9;
    transform: rotate(45deg);
}