
html, body, :global(#root) {
  height: 100%;
  font-size: .21rem;
  font-family: '黑体'
}
 .account_data .account_title {
  position: relative;
  padding-left: .2rem;
  margin-bottom: .33rem;
}

 .account_data .account_title::before,
 .finance .customer_tab .el-tabs__item:nth-of-type(1)::before{
  content: "";
  width: .05rem;
  height: .2rem;
  position: absolute;
  left: 0;
  border-radius: .03rem;
  background: linear-gradient(360deg, rgba(222, 231, 255, 1) 0%, rgba(40, 94, 233, 1) 100%);
}

